body {
  padding: 0px;
  margin: 0px;
  font-family: Poppins;
}

.header {
  height: 41vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/header.png");
  background-size: cover;
  background-position: center;
}

.background_cinza {
  background-color: #f5f5f5;
}

.inter_400 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.inter_500 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.inter_700 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.header_informacoes {
  width: 94%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 9%;
  display: flex;
  justify-content: initial;
  align-items: initial;
}

.imagem_logo {
  height: 25%;
  width: 100%;
}

.texto_banner_content {
  width: 50.7%;
  display: flex;
  justify-content: flex-end;
}

.texto_banner {
  width: 65.9%;
  height: 100%;
  display: grid;
}

.nome_empresa {
  width: 100%;
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  font-weight: 600;
  letter-spacing: 0.61em;
  color: #fff;
}

.resposta_filtro_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39vh;
  width: 100%;
  background-color: #f5f5f5;
  font-size: 4.8vh;
  color: #9e9e9e;
  font-weight: 600;
}

.filtro_imagem_emoji {
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.resposta_filtro {
  display: grid;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
}

.header_texto {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  font-size: 4.5vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.045em;
  color: #fff;
}

.botao_content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
}

.botao_header {
  width: 43%;
  height: 78%;
  border-radius: 1vh;
  background-color: transparent;
  font-size: 1.6vh;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  border: 0.29vh solid #fafafa;
}

.botao_header:hover {
  background-color: #fafafa;
  color: #272727;
}

.informacoes_pessoais {
  width: 26.8%;
  height: 18%;
  display: flex;
  justify-content: space-between;
}

.informacoes_pessoais_icon {
  height: 2.3vh;
  aspect-ratio: 1/1;
}

.informacoes_pessoais_texto {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.5vh;
  font-weight: bold;
}

.informacoes_pessoais_email {
  font-size: 1.4vh;
}

.telefone {
  width: 44%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email {
  width: 44%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filtro {
  height: 12.2vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filtro_card {
  width: 29vh;
  height: 5vh;
  display: flex;
  justify-content: center;
}

.select {
  width: 100%;
  height: 100%;
  padding: 1vh;
  border-radius: 1vh;
  font-size: 1.8vh;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  border: 0.2vh solid #e0e0e0;
  color: #9e9e9e;
  /*
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/select-angle-down.png) no-repeat center right #FFF;
  padding-right: 20px;*/
}

.select_content {
  height: 9vh;
  display: grid;
  justify-content: space-between;
}

.select_tipo {
  width: 100%;
  height: 4vh;
  border-radius: 1vh;
  font-size: 1.6vh;
  display: flex;
  padding: 1vh;
  color: #9e9e9e;
  justify-content: space-between;
  background-color: transparent;
  border: 0.2vh solid #e0e0e0;
}

.select_tipo_modal {
  height: 5vh;
  display: flex;
  align-items: end;
}

.botao_filtro_content {
  width: 29vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao_filtro {
  height: 4.8vh;
  width: 28.5vh;
  border-radius: 1vh;
  font-size: 1.8vh;
  border: none;
  background-color: #2b50aa;
  color: #fafafa;
}

.botao_filtro:hover {
  opacity: 60%;
}

.linha_divisora {
  width: 0.2vh;
  height: 4.8vh;
  border-radius: 0.2vh;
  background-color: #272727;
}

.novo_imovel {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto_novo_imovel {
  height: 3vh;
  font-size: 2.4vh;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.icon_plus {
  height: 2.2vh;
  width: 2.2vh;
}

.botao_novo_imovel {
  height: 14.8vh;
  aspect-ratio: 3.5/1;
  border-radius: 1vh;
  font-size: 2.4vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  color: #fafafa;
}

.botao_novo_imovel:hover {
  opacity: 80%;
}

.botao_adicionar_content {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo_adicionar_imovel {
  height: 80%;
  width: 100%;
  display: grid;
  justify-content: space-around;
  align-items: center;
}

.botao_adicionar {
  height: 4.8vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.subtitulo_content {
  height: 11.5vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.subtitulo {
  height: 9vh;
  font-size: 4.8vh;
  font-weight: 600;
  display: flex;
  align-items: initial;
  color: #272727;
}

.segundo_subtitulo_content {
  height: 19vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.segundo_subtitulo {
  font-size: 4.8vh;
  font-weight: 600;
  display: flex;
  align-items: initial;
  color: #272727;
}

.card_content_administrativo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content_administrativo {
  width: 91.5%;
  display: grid;
  grid-auto-rows: 41vh;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.card_content {
  height: 42vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.setas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vh;
  height: 100%;
  margin-left: 1vh;
  margin-right: 1vh;
}

.card {
  height: 33.6vh;
  width: 26vh;
  display: grid;
  background-color: #fafafa;
}

.card:hover {
  box-shadow: 0vh 0vh 1.5vh 0vh rgba(39, 39, 39, 0.25);
}

.card_administrativo {
  box-shadow: 0vh 0vh 2vh 0vh rgba(39, 39, 39, 0.25);
}

.card_texto {
  font-size: 1.4vh;
  color: #9e9e9e;
}

.card_situacao {
  font-size: 1.5vh;
  color: #9e9e9e;
  font-weight: 500;
}

.card_central_texto {
  color: #9e9e9e;
}

.card_imagem {
  width: 100%;
  height: 99%;
}

.card_informacoes_content {
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card_informacoes {
  width: 23vh;
  height: 16vh;
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.card_sobre {
  width: 23vh;
  display: grid;
}

.card_valor {
  height: 5vh;
  display: grid;
  justify-content: space-between;
}

.nome_produto {
  font-size: 2vh;
  color: #272727;
  height: 3vh;
}

.valor_produto {
  font-size: 1.7vh;
  color: #2b50aa;
}

.card_editar {
  width: 23vh;
  height: 3.5vh;
  display: flex;
  justify-content: space-between;
  align-items: initial;
}

.card_editar_icons {
  width: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.editar_icons {
  width: 6vh;
  height: 2.5vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.editar_icon {
  height: 2vh;
  width: 2vh;
  cursor: pointer;
}

.card_central_sobre {
  height: 10vh;
}

.card_central_valor {
  height: 5vh;
  display: grid;
  justify-content: space-between;
}

.nome_produto_central {
  height: 38px;
  font-size: 24px;
  line-height: 28px;
  color: #272727;
}

.valor_produto_central {
  font-size: 20px;
  line-height: 28px;
  color: #2b50aa;
}

.botao_ver_mais {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ver_mais {
  width: 28.5vh;
  height: 4.8vh;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vh;
  background-color: transparent;
  border: 0.2vh solid #272727;
}

.sair_sessao {
  width: 100%;
  height: 3vh;
  border: 0.2vh solid #fafafa;
  border-radius: 0.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05vh;
  font-size: 1.8vh;
  font-weight: 500;
  color: #fafafa;
  background-color: #272727;
}

.sair_sessao:hover {
  background-color: #fafafa;
  color: #272727;
}

.ver_mais:hover {
  background-color: #272727;
  color: #fafafa;
}

.botao_confirmar {
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.botao_confirmar_adicionar {
  width: 70%;
  height: 4.5vh;
  background-color: #272727;
  border: none;
  border-radius: 1vh;
  color: #fafafa;
  font-size: 1.8vh;
}

.botao_confirmar_adicionar:hover {
  opacity: 80%;
}

.footer_content {
  width: 100%;
  height: 42vh;
  display: flex;
  align-items: flex-end;
}

.footer {
  height: 30vh;
  width: 100%;
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_informacoes {
  height: 26vh;
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_informacoes_texto {
  width: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: initial;
}

.footer_subtitulo {
  font-size: 3.2vh;
  letter-spacing: 0.048vh;
  font-weight: 600;
  color: #fff;
}

.footer_texto {
  font-size: 2vh;
  letter-spacing: 0.03vh;
  font-weight: 500;
  color: #fff;
}

.contato {
  height: 16vh;
  width: 20vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.endereco {
  height: 16vh;
  width: 16vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.geral {
  height: 15.9vh;
  width: 25.5vh;
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.redes_sociais {
  height: 15vh;
  width: 21vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rede_social_icon {
  width: 4vh;
  height: 4vh;
}

.logo_branca {
  height: 7vh;
  width: 15.7vh;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  z-index: 1000;
}

.modal_editar_produto {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  z-index: 1000;
}

.modal_apagar_content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  z-index: 1000;
}

.modal_apagar {
  width: 57vh;
  height: 20vh;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
}

.apagar_conteudo {
  height: 80%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.apagar_texto {
  font-size: 2.3vh;
  font-weight: 500;
  color: #272727;
  display: flex;
  justify-content: center;
}

.botoes_apagar {
  width: 47vh;
  display: flex;
  justify-content: space-between;
}

.botao_apagar {
  width: 18vh;
  height: 3.5vh;
  border-radius: 0.5vh;
  background-color: #2b50aa;
  font-size: 1.5vh;
  color: #fafafa;
  font-weight: 600;
  border: none;
}

.botao_cancelar_apagar {
  width: 18vh;
  height: 3.5vh;
  border-radius: 0.5vh;
  background-color: #fafafa;
  font-size: 1.5vh;
  color: #2b50aa;
  font-weight: 600;
  border: none;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal_novo_imovel {
  width: 68vh;
  height: 100%;
  display: grid;
  justify-content: center;
  max-width: 90%;
  background: #fff;
  overflow-y: scroll;
}

.modal_cliente_content {
  width: 57vh;
  height: 100%;
  max-width: 90%;
  background: #fff;
  overflow-y: scroll;
  padding: 5vh;
}

.espacamento {
  height: 7vh;
  width: 100%;
}

.modal_novo_imovel::-webkit-scrollbar {
  width: 1vh;
  border: 0.1vh solid rgb(207, 141, 141);
  /* z-index: 1000; */
}

.modal_content {
  width: 57vh;
  height: 100%;
  max-width: 90%;
  background: #fff;
  overflow-y: scroll;
  padding: 5vh;
}

.modal_content::-webkit-scrollbar-thumb {
  background-color: #272727;
  border-radius: 0.6vh;
}

.modal_footer {
  text-align: right;
}

.sair_modal {
  height: 5vh;
  width: 15%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  cursor: pointer;
}

.sair_modal_texto {
  font-size: 2vh;
}

.sair_modal_seta {
  height: 2vh;
  width: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.modal_ad_texto {
  height: 3vh;
  display: flex;
  align-items: flex-end;
  font-size: 2vh;
  color: #272727;
}

.modal_select {
  display: flex;
  justify-content: space-between;
}

.input_content {
  height: 9.5vh;
  display: grid;
  align-items: center;
}

.descricao_content {
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_content_descricao {
  width: 100%;
  height: 10vh;
  display: grid;
  scroll-behavior: auto;
}

.modal_input {
  height: 80%;
  width: 97%;
  font-size: 1.6vh;
  resize: none;
  border: 0.2vh solid #e0e0e0;
  border-radius: 1vh;
  padding-left: 1vh;
  color: #9e9e9e;
}

.modal_input_ad {
  height: 80%;
  width: 97%;
  font-size: 1.6vh;
  resize: none;
  border: 0.2vh solid #e0e0e0;
  border-radius: 1vh;
  padding-left: 1vh;
  color: #272727;
}

.modal_input:focus {
  box-shadow: 0 0 0 0;
  border: 0.2vh solid #e0e0e0;
  outline: 0;
}

.descricao {
  height: 90%;
  width: 97.1%;
}

.select_modal {
  width: 27vh;
  height: 80%;
  border-radius: 1vh;
  font-size: 1.6vh;
  display: flex;
  padding: 1vh;
  color: #9e9e9e;
  justify-content: space-between;
  background-color: transparent;
  border: 0.2vh solid #e0e0e0;
}

.botao_voltar_modal {
  color: #000000;
  font-size: 2vh;
  text-decoration: none;
}

.seta_sair_modal {
  height: 2vh;
  width: 2vh;
}

.imagem_modal_content_cliente {
  height: 38vh;
  width: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem_modal_content_administrador {
  height: 38vh;
  width: 60vh;
  display: flex;
  justify-content: center;
  align-items: end;
}

.imagem_modal_cliente {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34vh;
  width: 64vh;
  background-color: #f5f5f5;
  border-radius: 0.9vh;
  position: relative;
}

.imagem_modal_content {
  height: 38vh;
  width: 60vh;
  display: flex;
  justify-content: center;
  align-items: end;
}

.imagem_modal {
  display: grid;
  justify-content: space-between;
  height: 34vh;
  width: 64vh;
  opacity: 90%;
  border-radius: 0.9vh;
}

.imagem_carousel {
  height: 32.5vh;
  object-fit: cover;
}

.modal_botoes_editar {
  width: 55.5vh;
  height: 4.8vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  top: -32vh;
}

.modal_editar {
  display: flex;
  width: 16vh;
  justify-content: space-between;
}

.botao_editar_imagem {
  width: 4.8vh;
  height: 4.8vh;
  background-color: #fafafa;
  border-radius: 50%; 
  box-shadow: #414141 0vh 0vh 0.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao_editar_imagem_icon {
  width: 2vh;
  height: 2vh;
}

.icon_lixeira {
  width: 1.5vh;
  height: 1.5vh;
}

.adicionar_foto {
  height: 11vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.card_imagem_content {
  width: 58vh;
  height: 30vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem_selecionada {
  height: 28.5vh;
}

.situacao {
  height: 4vh;
  display: flex;
  align-items: end;
}

.alinhamento_imagem {
  height: 29vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem_selecionada_content {
  width: 56vh;
  height: 29vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao_adicionar_foto {
  height: 4.8vh;
  width: 4.8vh;
  background-color: #272727;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao_adicionar_foto_content {
  height: 6vh;
  display: flex;
  justify-content: center;
}

.input_upload {
  opacity: 0;
  width: 0;
  height: 0;
}

.input_upload_editar {
  height: 30px;
  width: 30px;
  background-color: violet;
}

.texto_adicionar_foto {
  font-size: 2.4vh;
  color: #272727;
  line-height: 2.8vh;
}

.texto_quantidade_foto {
  display: flex;
  justify-content: center;
  font-size: 1.4vh;
  color: #959595;
}

.container_passar_imagem {
  height: 90%;
  width: 58vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.passar_imagem {
  height: 1vh;
  width: auto;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passar_imagem_cliente {
  width: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: initial;
}

.botao_passa_imagem {
  width: 4vh;
  height: 0.5vh;
  opacity: 40%;
  background-color: #202020;
  border: none;
  box-shadow: none;
  margin: 0vh 0.4vh 0vh 0.4vh;
}

.clicado {
  opacity: 100%;
}

.upload_imagem {
  height: 35.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_texto {
  height: 4.25vh;
  font-size: 2.4vh;
  display: flex;
  align-items: initial;
  color: #272727;
}

.modal_contatos {
  height: 6.5vh;
  font-size: 2.4vh;
  display: flex;
  align-items: flex-end;
  color: #272727;
}

.modal_nome_produto {
  height: 2.5vh;
  font-size: 2vh;
  display: flex;
  align-items: initial;
  color: #959595;
}

.modal_cidade_produto {
  font-size: 4vh;
  color: #272727;
}

.modal_preco {
  font-size: 4vh;
  color: #2b50aa;
}

.modal_descricao {
  font-size: 2.4vh;
  color: #959595;
  height: 100%;
}

.modal_valor {
  height: 8vh;
  display: flex;
  align-items: initial;
  justify-content: space-between;
}

.modal_redes_sociais_container {
  height: 8.5vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.modal_rede_social {
  width: 12.9vh;
  height: 4.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
  border: none;
}

.modal_rede_social:hover {
  opacity: 75%;
}

.modal_icon {
  height: 2vh;
  width: 2vh;
}

.whatsapp {
  background-color: #31c631;
}

.facebook {
  background-color: #1773ea;
}

.instagram {
  background-color: #ab00ae;
}

.olx {
  background-color: #6a0acf;
}

.olx_icon {
  height: 3.4vh;
  width: 3.4vh;
}

.login_container {
  display: flex;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
}

.login {
  height: 96.2vh;
  width: 60%;
  background-color: #fafafa;
  display: inline-grid;
  justify-content: space-around;
}

.link {
  text-decoration: none;
}

.espacamento_fileira {
  display: flex;
  justify-content: space-around;
}

.header_content {
  height: 20.4%;
}

.login_header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texto {
  font-size: 2.2vh;
  font-weight: 600;
  color: #101010;
}

.texto_claro {
  font-size: 2.2vh;
  color: #101010;
  line-height: 3vh;
  font-weight: 600;
  opacity: 50%;
  cursor: pointer;
}

.texto_azul {
  font-size: 2.2vh;
  color: #2b50aa;
  font-weight: 600;
}

.login_header_texto {
  height: 3vh;
  width: 31vh;
  display: flex;
  justify-content: inherit;
  align-items: center;
}

.login_logo {
  width: 15.7vh;
  height: 6vh;
  background-color: violet
  ;
}

.login_card_content {
  height: 67vh;
  justify-content: center;
  width: 70vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_card {
  height: 62vh;
  width: 60vh;
}

.recuperar_senha_card_content {
  height: 47vh;
  justify-content: center;
  width: 70vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recuperar_senha_content {
  height: 68vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recuperar_senha {
  height: 37vh;
  width: 60vh;
  display: grid;
  align-items: center;
}

.card_criar_conta {
  height: 59vh;
  width: 60vh;
}

.titulo {
  font-size: 3.5vh;
  color: #101010;
  font-weight: 600;
  line-height: 6vh;
  display: flex;
  justify-content: center;
  align-items: initial;
}

.texto_codigo_container {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo_codigo {
  width: 60%;
  font-size: 2vh;
  color: #101010;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_subtitulo {
  display: flex;
  justify-content: center;
  height: 4vh;
}

.login_subtitulo {
  width: 38vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.input {
  height: 10vh;
  width: 47vh;
  align-items: center;
}

.input_maior {
  height: 10vh;
  width: 47vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.input_text {
  width: 42vh;
  height: 2.5vh;
  border-color: #fafafa;
  border-radius: 0.6vh;
  font-size: 2vh;
  color: #101010;
  font-weight: 600;
  border: none;
  padding: 2vh;
}

.input_visualizar {
  width: 40vh;
  height: 2.5vh;
  border-radius: 0.6vh;
  font-size: 2vh;
  color: #101010;
  font-weight: 600;
  border: none;
  background-color: #fafafa;
}

.input_visualizar:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.input_visualizar_content {
  width: 42vh;
  height: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: #fafafa;
  border-radius: 0.6vh;
  padding: 2vh;
  background-color: #fafafa;
}

.input_text:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.input_text_metade {
  width: 18vh;
  height: 2.5vh;
  background-color: #fafafa;
  border-radius: 0.6vh;
  font-size: 2vh;
  color: #101010;
  font-weight: 600;
  border: none;
  padding: 2vh;
}

.input_text_metade:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.input_metade {
  width: 23vh;
  height: 10vh;
  display: grid;
  justify-content: center;
}

.card_input_metade {
  display: flex;
  justify-content: center;
  height: 13vh;
  align-items: flex-end;
}

.card_input {
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.visualizar_senha_content {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visualizar_senha {
  height: 3vh;
  width: 3vh;
}

.card_input_maior {
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.login_botao {
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.recuperar_senha_botao {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.nova_senha_botao_content {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 9vh;
}

.botao_login {
  width: 42vh;
  height: 6vh;
  border-radius: 1vh;
  background-color: #2b50aa;
  font-size: 2.2vh;
  color: #fafafa;
  font-weight: 600;
  border: none;
}

.botao_hover {
  opacity: 0.7;
}

.botao_login:hover {
  opacity: 80%;
}

.login_footer {
  display: flex;
  justify-content: center;
}

.card_footer {
  width: 42vh;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.login_banner {
  height: 100vh;
  width: 40%;
  overflow: hidden;
}

.imagem_banner {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h1 {
  padding-left: 2.5vh;
}

p {
  font-size: 2.5vh;
  padding-left: 2.5vh;
}

.mensagem {
  display: flex;
  justify-content: center;
  color: #101010;
  align-items: center;
}

.mensagem_content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensagem_erro {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.6vh;
  font-weight: 600;
  color: #af2525;
  text-decoration: none;
}

.mensagem_sem_link {
  font-size: 1.6vh;
  font-weight: 600;
  color: #af2525;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensagem_sucesso_produto {
  height: 3vh;
  font-size: 1.6vh;
  font-weight: 600;
  color: #176310;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.mensagem_sucesso_email {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.6vh;
  font-weight: 600;
  color: #176310;
  text-decoration: none;
}

.mensagem_link {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.6vh;
  font-weight: 600;
  color: #101010;
  text-decoration: none;
  cursor: pointer;
}

.texto_recuperar_senha_content {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto_recuperar_senha {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.9vh;
  font-weight: 600;
  color: #101010;
}

.recado {
  font-size: 1.2vh;
  background-color: red;
}

.nova_senha {
  height: 42vh;
  display: grid;
  align-items: center;
}